*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    background: rgb(9, 29, 59);
    width: 100%;
    height: 100vh;
    color: rgb(39, 245, 183);
}
nav{
    width: 100%;
    height: 80px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(39, 245, 183);
}
.colection{
    display: flex;
    list-style: none;
    margin-top: 30px;
}
.item{
    margin-right: 40px;
}
.bbb{
    animation: bbb 0.8s 0.5s forwards;
    transform: scale(.5) translateY(-30px);
    opacity:0;
}
@keyframes bbb{
    to{
        animation: bbb 0.8s 0.5 forwards;
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}
.item{
    margin-right: 40px;
    animation: item 0.5s linear 0.75s forwards;
    transform: translateY(-30px);
    opacity: 0;
}
@keyframes item{
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.item:nth-child(2){
    animation-delay: 1s;
}
.item:nth-child(3){
    animation-delay: 1.25s;
}
.item:nth-child(4){
    animation-delay: 1.50s;
}
.item:nth-child(5){
    animation-delay:1.65s;
}
.item button{
    background-color: rgb(9, 29, 59);
    width: 90px;
    height: 45px;
    border: 2px solid rgb(39, 245, 183);
    color: rgb(39, 245, 183);
}
.box{
    width: 100%;
    height: 88%;
    display:block;
}
.nik h1{
    color: white;
    font-size: 70px;
    margin-left:px;
    margin-top: 10px;
    width: 43%;
}
.nik{
    width: 100%;
    margin-left: 300px;
    margin-top: 20px;
}
.nik p{
    line-height: 28px;
    width: 73%;
}
.jk{
    width:460%;
    color: rgba(255, 255, 255, 0.548);
    font-size: 70px;
    margin-left:px;
    margin-top: 10px;
}
.nik button{
    width: 250px;
    height: 50px;
    border: 1px solid rgb(39, 245, 183);
    background-color: rgb(9, 29, 59);
    color: rgb(39, 245, 183);
    margin-top: 70px;
}
.box{
    animation: box 4s 3s forwards;
    transform: scale(.5) translateY(-30px);
    opacity:0;
}
@keyframes box{
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.bbb{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: rgb(39, 245, 183);
    border: 2px solid rgb(39, 245, 183);
    text-align: center;
    margin-top: 8px;
}